body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
    border: 10px solid powderblue;

  }
  img {
    border-radius: 50%;
    border: 10px solid gray;
  }
  table, th, td {
    border: 5px solid;
      }
th{
    color: darkgreen;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    left: 0;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    
  }